<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet' type='text/css'>
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
</head>
<body ng-controller="MyCtrl">
	<header>
		<h1 class="header">Waitstaff Calculator</h1>
	</header>
	<div class="main">
		<div class="main-left">
			<div class="mealDetailsBox">
				<div class="boxTitle">
					<h2>Enter the Meal Details</h2>
				</div>
				<div class="detailsInput">
					<form>
					<table width="100%" cellspacing="12">
						<tbody>
							<tr>
								<td width="50%">
									<label for="price">Base Meal Price: $</label>
								</td>	
								<td>
									<input type="number" name="price" class="meal" ng-model="price" />
								</td>
							</tr>
							<tr>
								<td width="50%">
									<label for="taxRate">Tax Rate: %</label>
								</td>	
								<td>
									<input type="number" name="taxRate" class="tax" ng-model="taxRate" />			
								</td>
							</tr>
							<tr>
								<td width="50%">
									<label for="tipPercent">Tip Percentage: %</label>
								</td>	
								<td>
									<input type="number" name="tipPercent" class="tax" ng-model="tipPercent" />		
								</td>
							</tr>
							<tr class="submitRow">
								<td width="50%">
									<input type="submit" class="submit" value="Submit" ng-click="submit()"/>
								</td>	
								<td>
									<button class="cancel" ng-click="cancel()">Cancel</button>			
								</td>
							</tr>
						</tbody>
					</table>
					</form>
				</div>
			</div>
		</div>
		<div class="main-right">
			<div class="chargesBox">
				<div class="boxTitle">
					<h2>Customer Charges</h2>
				</div>
				<div class="chargesTotal">
					<p>Subtotal: {{ subTotal | currency }}</p>
					<p>Tip: {{ tip | currency }}</p>
					<hr>
					<p>Total: {{ total | currency }}</p>
				</div>
			</div>
			<div class="earningsBox">
				<div class="boxTitle">
					<h2>My Earnings Info</h2>
				</div>
				<div class="earningsTotal">
					<p>Tip Total: {{ tipTotal | currency }}</p>
					<p>Meal Count: {{ mealCount }}</p>
					<p>Average Tip Per Meal: {{ avgTip | currency }}</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="footer">
		<button class="reset" ng-click="reset()">Reset</button>
	</div>

	<script src="js/myApp.js" type="text/javascript"></script>	
</body>
</html>